<% provide(:title, 'Carbon Calculator') %>
    <h1>Carbon Calculator</h1>
    <p>
      This is the home page for the
      <a href="http://www.practically-green.co.uk/">Practically-Green</a>
      Carbon Calculator.
    </p>
